<h1>New Post</h1>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
    <small id="name" class="form-text text-muted">Fill the name</small>
  </div>
  <div class="form-group">
    <label for="post">Post</label>
    <input type="text" [(ngModel)]="post" name="post" class="form-control" id="text" placeholder="Post">
    <small id="post" class="form-text text-muted">Put title post</small>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" [(ngModel)]="description" name="description" class="form-control" id="description" placeholder="Post"></textarea>    
    <small id="post" class="form-text text-muted">Put description post</small>
  </div>
  <button type="button" (click)="send()" class="btn btn-primary">Submit</button>
</form>